@model LoLWay.Models.IndexViewModel
<head>
    <title>Zarządzanie kontem | LoLWay</title>
</head>
<!--Title-->
<section id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>Zarządzaj swoim kontem</h1>
            </div>
        </div>
        <div class="col-sm-6">
            <ul class="breadcrumb pull-right">
                <li>@Html.ActionLink("Strona główna", "Index", "Home")</li>
                <li class="active">Zarządzanie kontem</li>
            </ul>
        </div>
    </div>
</section>
<!--/Title-->
<!--Forms-->
<section id="contact-page" class="container">
    <div class="row">
        <div class="col-sm-6">
            <dl class="dl-horizontal">
                <dt>Hasło:</dt>
                <dd>
                    [
                    @if (Model.HasPassword)
            {
                        @Html.ActionLink("Zmień hasło", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Ustaw hasło", "SetPassword")
                    }
                    ]
                </dd>
                <dt>Konta społecznościowe:</dt>
                <dd>
                    @Model.Logins.Count [
                    @Html.ActionLink("Zarządzaj", "ManageLogins") ]
                </dd>
            </dl>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/Scripts/jqueryval")
}
<!--/Forms-->

<!--Information-->
@*
    Phone Numbers can used as a second factor of verification in a two-factor authentication system.

     See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
        for details on setting up this ASP.NET application to support two-factor authentication using SMS.

     Uncomment the following block after you have set up two-factor authentication
    <dt>Phone Number:</dt>
    <dd>
        @(Model.PhoneNumber ?? "None")
        @if (Model.PhoneNumber != null)
        {
            <br />
            <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
            using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
            }
        }
        else
        {
            <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
        }
    </dd>

<dt>Two-Factor Authentication:</dt>
<dd>
    <p>
        There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
        for details on setting up this ASP.NET application to support two-factor authentication.
    </p>
    @if (Model.TwoFactor)
        {
            using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <text>Enabled
                <input type="submit" value="Disable" class="btn btn-link" />
                </text>
            }
        }
        else
        {
            using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <text>Disabled
                <input type="submit" value="Enable" class="btn btn-link" />
                </text>
            }
        }
</dd>*@
<!--/Information-->
