@model LoLWay.Models.whishlist

<head>
    <title>Edycja | LoLWay</title>
</head>
<section id="live-game-stats" class="container">
    <!--Main table-->
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Edytujesz wpis o @Model.champion.name</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.id)
                    @Html.HiddenFor(model => model.userId)
                    @Html.HiddenFor(model => model.championId)

                    <div class="form-group">
                        @Html.LabelFor(model => model.userId, "userId", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Model.AspNetUsers.Email
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.championId, "championId", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Model.champion.name
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.owned, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.owned)
                            @Html.ValidationMessageFor(model => model.owned, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.rank, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.rank, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.rank, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Zapisz" class="btn btn-default" />
                            @Html.ActionLink("Powrót", "Index", null, new { @class = "btn btn-default btn-return" })
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>