@model RiotAPI.Models.CurrentGame.CurrentMatchModel
<head>
    <title>LoLWay</title>
</head>
@if (Model == null)
{
    <section id="title" class="emerald">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>LoLWay</h1>
                    <p>Witamy na stronie projektu LoLWay!</p>
                </div>
            </div>
        </div>
    </section>
    <section id="live-game" class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="center gap">
                    <h3>Wyszukaj grę</h3>
                </div>
                @using (Html.BeginForm())
                {
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="Nickname" required="required" placeholder="Nazwa przywoływacza">
                        </div>
                        <div class="col-sm-3">
                            <select class="form-control" id="Region" name="Region" required="required">
                                <option value="BR">BR</option>
                                <option value="EUNE">EUNE</option>
                                <option value="EUW">EUW</option>
                                <option value="JP">JP</option>
                                <option value="KR">KR</option>
                                <option value="LAN">LAN</option>
                                <option value="LAS">LAS</option>
                                <option value="NA">NA</option>
                                <option value="OCE">OCE</option>
                                <option value="RU">RU</option>
                                <option value="TR">TR</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <button type="submit" class="btn-primary btn-sm">Szukaj</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
}
else
{
    var gameStartTime = new DateTime(1970, 1, 1, 0, 0, 0).AddMilliseconds(Convert.ToDouble(Model.gameStartTime)).ToLocalTime().ToShortTimeString();
    var gameLength = TimeSpan.FromSeconds(Model.gameLength).ToString(@"hh\:mm\:ss");

    <section id="live-game-stats" class="container">
        <!--Main table-->
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <table class="game_tab">
                    <thead>
                        <tr class="default">
                            <th>Długosć</th>
                            <th>Tryb</th>
                            <th>Czas rozpoczęcia</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="notfirst">
                            <td>@gameLength</td>
                            <td>@Model.gameMode</td>
                            <td>@gameStartTime</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!--Participants list-->
        <!--Team 1-->
        <div class="row">
            <div class="col-sm-12 table_container">
                <table class="game_tab">
                    <thead>
                        <tr class="default">
                            <th>Przywoływacz</th>
                            <th>Czary</th>
                            <th>Ranga</th>
                            <th>Bohater</th>
                            <th>KDA</th>
                            <th>Runy</th>
                            <th>Maestrie</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var player in Model.participants.Where(x => x.teamId == 100))
                        {
                            <tr class="notfirst">
                                <td>@player.summonerName</td>
                                <td>@player.spell1Id @player.spell2Id</td>
                                <td>GOLD V</td>
                                <td>@player.championId</td>
                                <td>KDA</td>
                                <td>@player.runes.Count</td>
                                <td>@player.masteries.Count</td>
                            </tr>
                        }
                        <tr class="bans">
                            <td class="bans">Bany</td>
                            <td class="bans">
                                @foreach (var ban in Model.bannedChampions.Where(x => x.teamId == 100))
                                {
                                    @ban.championId 
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="gap"></div> 
          
            
         <!--Team 2-->
        <div class="row">
            <div class="col-sm-12 table_container">
                <table class="game_tab">
                    <thead>
                        <tr class="default">
                            <th>Przywoływacz</th>
                            <th>Czary</th>
                            <th>Ranga</th>
                            <th>Bohater</th>
                            <th>KDA</th>
                            <th>Runy</th>
                            <th>Maestrie</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var player in Model.participants.Where(x => x.teamId == 200))
                        {
                            <tr class="notfirst">
                                <td>@player.summonerName</td>
                                <td>@player.spell1Id @player.spell2Id</td>
                                <td>GOLD V</td>
                                <td>@player.championId</td>
                                <td>KDA</td>
                                <td>@player.runes.Count</td>
                                <td>@player.masteries.Count</td>
                            </tr>
                        }
                        <tr class="bans">
                            <td class="bans">Bany</td>
                            <td class="bans">
                                @foreach (var ban in Model.bannedChampions.Where(x => x.teamId == 200))
                                {
                                    @ban.championId 
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
}