@model RiotAPI.Models.CurrentGame.CurrentMatchModel
<head>
    <title>LoLWay</title>
</head>
@if (Model == null)
{
    <section id="title" class="emerald">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>Gra na żywo</h1>
                    <p>Podaj nick, wybierz serwer i szukaj statystyk gry na żywo!</p>
                </div>
            </div>
        </div>
    </section>
    <section id="live-game" class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="center gap">
                    <h3>Wyszukaj grę</h3>
                </div>
                @using (Html.BeginForm())
                {
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="Nickname" required="required" placeholder="Nazwa przywoływacza">
                        </div>
                        <div class="col-sm-3">
                            <select class="form-control" id="Region" name="Region" required="required">
                                <option value="BR">BR</option>
                                <option value="EUNE">EUNE</option>
                                <option value="EUW">EUW</option>
                                <option value="JP">JP</option>
                                <option value="KR">KR</option>
                                <option value="LAN">LAN</option>
                                <option value="LAS">LAS</option>
                                <option value="NA">NA</option>
                                <option value="OCE">OCE</option>
                                <option value="RU">RU</option>
                                <option value="TR">TR</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <button type="submit" class="btn-primary btn-sm">Szukaj</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
}
else
{
    var gameStartTime = new DateTime(1970, 1, 1, 0, 0, 0).AddMilliseconds(Convert.ToDouble(Model.gameStartTime)).ToLocalTime().ToShortTimeString();
    var gameLength = TimeSpan.FromSeconds(Model.gameLength).ToString(@"hh\:mm\:ss");
    List<LoLWay.Models.SummonerInfo> summonerList = ViewBag.Participants;
    List<LoLWay.Models.CurrentGameBan> banList = ViewBag.BanList;

    <section id="live-game-stats" class="container">
        <!--Main table-->
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <table class="liveGame">
                    <thead>
                        <tr class="default">
                            <th>Długosć</th>
                            <th>Tryb</th>
                            <th>Czas rozpoczęcia</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="notfirst">
                            <td>@gameLength</td>
                            <td>@Model.gameMode</td>
                            <td>@gameStartTime</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!--Participants list-->
        <!--Team 1-->
        <div class="row">
            <div class="col-sm-12 table_container">
                <table class="liveGame">
                    <thead>
                        <tr class="default">
                            <th class="summonerName">Przywoływacz</th>
                            <th class="champSpell">Bohater</th>
                            <th class="champSpell">Czary</th>
                            <th class="rank">Ranga</th>
                            <th class="kda">KDA</th>
                            <th class="runes">Runy</th>
                            <th class="masteries">Specjalizacja</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var player in Model.participants.Where(x => x.teamId == 100))
                        {
                            var summoner = summonerList.FirstOrDefault(x => x.summonerId == player.summonerId);
                            <tr class="notfirst">
                                <td class="summonerName">@player.summonerName</td>
                                <td class="champSpell"><img src="@summoner.champion" class="champ_live" /></td>
                                <td class="champSpell"><img src="@summoner.spell1" class="spell_live" /> <img src="@summoner.spell2" class="spell_live" /></td>
                                <td class="rank">@summoner.division</td>
                                <td class="kda">@summoner.averageKills / @summoner.averageDeaths / @summoner.averageAssists</td>
                                <td class="runes">@player.runes.Count</td>
                                <td class="masteries"><img src="@summoner.mastery" class="mastery_live" /></td>
                            </tr>
                        }
                        @if (banList.Count() > 0)
                        {
                        <tr class="bans">
                            <td class="bans">Bany</td>
                            <td class="bans">
                                @foreach (var ban in banList.Where(x => x.team == 100))
                                {
                                    <img src="@ban.banName" class="ban_live" />
                                }
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="gap"></div>


        <!--Team 2-->
        <div class="row">
            <div class="col-sm-12 table_container">
                <table class="liveGame">
                    <thead>
                        <tr class="default">
                            <th class="summonerName">Przywoływacz</th>
                            <th class="champSpell">Bohater</th>
                            <th class="champSpell">Czary</th>
                            <th class="rank">Ranga</th>
                            <th class="kda">KDA</th>
                            <th class="runes">Runy</th>
                            <th class="masteries">Specjalizacja</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var player in Model.participants.Where(x => x.teamId == 200))
                        {
                            var summoner = summonerList.FirstOrDefault(x => x.summonerId == player.summonerId);
                            <tr class="notfirst">
                                <td class="summonerName">@player.summonerName</td>
                                <td class="champSpell"><img src="@summoner.champion" class="champ_live" /></td>
                                <td class="champSpell"><img src="@summoner.spell1" class="spell_live" /> <img src="@summoner.spell2" class="spell_live" /></td>
                                <td class="rank">@summoner.division</td>
                                <td class="kda">@summoner.averageKills / @summoner.averageDeaths / @summoner.averageAssists</td>
                                <td class="runes">@player.runes.Count</td>
                                <td class="masteries"><img src="@summoner.mastery" class="mastery_live" /></td>
                            </tr>
                        }
                        @if (banList.Count() > 0)
                        {
                            <tr class="bans">
                                <td class="bans">Bany</td>
                                <td class="bans">
                                    @foreach (var ban in banList.Where(x => x.team == 200))
                                    {
                                        <img src="@ban.banName" class="ban_live" />
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
}